<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btone.dev.developerborad.mapper.UserMapper">
    <select id="getUserList" resultType="com.btone.dev.developerborad.vo.UserVo">
        SELECT *
        FROM USER
    </select>

    <select id="login" parameterType="hashMap" resultType="com.btone.dev.developerborad.vo.UserVo">
        SELECT *
        FROM USER
        WHERE ID = #{userInfo.id}
        AND PASSWORD = #{userInfo.password}
    </select>

    <insert id="insertUser" parameterType="hashMap">
        INSERT INTO USER(ID, PASSWORD, EMAIL, INTRODUCE)
        VALUE(#{joinInfo.id}, #{joinInfo.password}, #{joinInfo.email}, "기본값");
    </insert>
</mapper>